<ion-card class="card-month">
  <div *ngFor="let item of mDates">
    <ion-card-content class="card-content" >
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <p lang="en" dir="ltr">{{item[0]}}</p>
          </ion-col>
          <ion-col col-4>
            <p lang="en" dir="ltr">{{item[1]}}</p>
          </ion-col>
          <ion-col col-4>
            <p lang="ar" dir="rtl">{{item[2]}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </div>
</ion-card>
