<ion-card class="card-example-comparison">
    <div>
        <div class="example">
        <i class="far fa-check" ></i>
        <img [src]=mPositiveImageUrl alt="" />
        </div><div class="example">
        <i class="far fa-ban" ></i>
        <img [src]=mNegativeImageUrl alt="" />
        </div>
        <ion-card-content class="card-content">
        <span lang="ar" dir="rtl" >{{mTranslatedTitle}}</span>
        <span lang="en" dir="ltr" >{{mTitle}}</span>
        </ion-card-content>
    </div>
</ion-card>
