<ion-card class="card-items-explanation">
    <div>
      <img [src]=mImageUrl alt="" />
      <ion-card-content class="card-content">
        <!--TODO: Add description-->
        <span lang="ar" dir="rtl">{{mTranslatedTitle}}</span>
        <span lang="en" dir="ltr">{{mTitle}}</span>

        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let item of mItems">
              <div  *ngIf="item.iconClass">
                <i class="fal fa-ambulance"></i>
              </div>
              <div *ngIf="!item.iconClass && item.image.url">
                <img [src]=item.image.url alt="" />
              </div>
              <p lang="ar" dir="rtl">{{item.translated}}</p>
              <p lang="en" dir="ltr">{{item.title}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </div>
  </ion-card>