<ion-card class="card-rules-comparison">
    <div>
      <img [src]=mImageUrl alt="" />
      <ion-card-content class="card-content">
        <span lang="ar" dir="rtl">{{mTranslatedTitle}}</span>
        <span lang="en" dir="ltr">{{mTitle}}</span>

        <ion-grid>
          <ion-row class="correct-example">
            <i class="far fa-check"></i>
            <ion-col *ngFor="let doItem of mDosArray">
              <div  *ngIf="doItem.iconClass">
                <i class="{{doItem.iconClass}}"></i>
              </div>
              <div *ngIf="!doItem.iconClass && doItem.image.url">
                <img [src]=doItem.image.url alt="" />
              </div>
              <p lang="ar" dir="rtl">{{doItem.translated}}</p>
              <p lang="en" dir="ltr">{{doItem.title}}</p>
            </ion-col>

          </ion-row>
          <ion-row class="incorrect-example">
            <i class="far fa-ban"></i>
            <ion-col *ngFor="let dontItem of mDontsArray">
              <div  *ngIf="dontItem.iconClass">
                <i class="{{dontItem.iconClass}}"></i>
              </div>
              <div *ngIf="!dontItem.iconClass && dontItem.image.url">
                <img [src]=dontItem.image.url alt="" />
              </div>
              <p lang="ar" dir="rtl">{{dontItem.translated}}</p>
              <p lang="en" dir="ltr">{{dontItem.title}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </div>
  </ion-card>