.card-rules-comparison {
    .card-content {
        text-align: center;

        span {
            display: block;
            margin-bottom: 1em;
        }
    }

    ion-grid {
        font-weight: 900;
    }

    ion-row {
        position: relative;
        padding: 24px 6px 6px;
        margin-bottom: 12px;

        &.correct-example {
            background-color: #eaf8db;

            & > i {
                background-color: #62ad10;
            }
        }

        &.incorrect-example {
            background-color: #fdebe9;

            & > i {
                background-color: #ff3154;
            }
        }

        & > i {
            position: absolute;
            right: 0;
            top: 0;
            color: #fff;
            padding: 6px;
            border-radius: 50%;
            margin: 6px;
        }

        ion-col {
            i {
                margin-bottom: 5px;
                font-size: 2.5em;
            }

            p {
                text-align: center;
                color: #000;
            }
        }
    }
}