<ion-card class="card-rules-comparison">
    <div>
      <img src="http://via.placeholder.com/350x150" alt="" />
      <ion-card-content class="card-content">
        <span lang="ar" dir="rtl">والقريب هو قريب من قلب الشعب، ولكن الرحيم قريب من قلب الله.</span>
        <span lang="en" dir="ltr">The just is close to the peaple&#39;s heart, but the merciful is close to the heart of God.</span>

        <ion-grid>
          <ion-row class="correct-example">
            <i class="far fa-check"></i>
            <ion-col>
              <i class="fal fa-ambulance"></i>
              <p lang="ar" dir="rtl">سياره اسعاف</p>
              <p lang="en" dir="ltr">Ambulance</p>
            </ion-col>
            <ion-col>
              <i class="fal fa-user-md"></i>
              <p lang="ar" dir="rtl">طبيب</p>
              <p lang="en" dir="ltr">Docter</p>
            </ion-col>
            <ion-col>
              <i class="fal fa-medkit"></i>
              <p lang="ar" dir="rtl">إسعافات أولية</p>
              <p lang="en" dir="ltr">First Aid</p>
            </ion-col>
            <ion-col>
              <i class="fal fa-hospital"></i>
              <p lang="ar" dir="rtl">مستشفى</p>
              <p lang="en" dir="ltr">Hospital</p>
            </ion-col>
          </ion-row>
          <ion-row class="incorrect-example">
            <i class="far fa-ban"></i>
            <ion-col>
              <i class="fal fa-thermometer-full"></i>
              <p lang="ar" dir="rtl">حمة</p>
              <p lang="en" dir="ltr">Fever</p>
            </ion-col>
            <ion-col>
              <i class="fal fa-blind"></i>
              <p lang="ar" dir="rtl">بليند</p>
              <p lang="en" dir="ltr">Blind</p>
            </ion-col>
            <ion-col>
              <i class="fal fa-bed"></i>
              <p lang="ar" dir="rtl">نعسان</p>
              <p lang="en" dir="ltr">Drowsy</p>
            </ion-col>
            <ion-col>
              <i class="fal fa-sign-language"></i>
              <p lang="ar" dir="rtl">جراثيم</p>
              <p lang="en" dir="ltr">Germs</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </div>
  </ion-card>